body {
    margin: 10px auto;
    text-align: center;
    font-family: Verdana, Sans;
    font-size: 11px;
}
#colordebug {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    width: 320px;
}

#colordebug div {
    padding: 3px 0;
    margin: 1px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

#VisContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

#LogoContainer {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

#HtmlContainer {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
