body {
    margin: 0 auto;
}

button.active {
    background: #555;
}
.ui-field-contain, fieldset.ui-field-contain {
    border-width: 0 0 1px;
    margin: 0;
    overflow: visible;
    padding: 0.4em 0;
}
.ui-content {
    /*max-width: 415px;*/
    padding: 7px;
}

#dominantColor {
    color: #FFF;
    text-shadow: 0px 0px 5px #555;
    text-align: center;
    width: 100%;
    padding: 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
