body {
    margin: 0 auto;
}

button.active {
    background: #555;
}
.ui-field-contain, fieldset.ui-field-contain {
    border-width: 0 0 1px;
    margin: 0;
    overflow: visible;
    padding: 0.4em 0;
}
.ui-content {
    /*max-width: 415px;*/
    padding: 7px;
}

#dominantColor,
#motionScore {
    color: #FFF;
    background-color: #000;
    text-align: center;
    padding: 0.5em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

/* jQuery Mobile Overwrite */
.ui-header .ui-title { margin-left: 7px; margin-right: 7px; }
